In [5]:
import json
import pandas as pd

In [6]:
fd = open("record.json",'r')
rd = fd.read()
fd.close()

In [7]:
record = json.loads(rd)

In [8]:
f = open("invoice.json",'r')
rdd = f.read()
f.close()

In [9]:
inv = json.loads(rdd)

In [10]:
inv

{'0': {'Billing amount': 90,
  'Price': 45,
  'Product': 'Mango Juice',
  'Transaction Id': 0,
  'quantity': 2},
 '1': {'Billing amount': 90,
  'Price': 90,
  'Product': 'Mineral Water',
  'Transaction Id': 0,
  'quantity': 1},
 '1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 3},
 '2': {'Billing amount': 6,
  'Price': 2,
  'Product': 'Sauce',
  'Transaction Id': 0,
  'quantity': 3}}

In [11]:
def AddInv():
    prod_id = str(input("Enter product id:"))
    if prod_id in record.keys():
        print("Item already exists")
    else:
        name = str(input("Enter name:"))
        pr = int(input("Enter price:"))
        qn = int(input("Enter quantity:"))
        mfd = input("Enter Manufacture date: ")
        exp = input("Enter Expiry date: ")
        record[prod_id] = {'name': name, 'pr': pr, 'qn': qn, 'mfd': mfd, 'exp': exp}
        js = json.dumps(record)
        fd = open("record.json",'w')
        fd.write(js)
        fd.close()

In [12]:
id=0
tr_id=0
def SaleInv():
    ui_prod  = str(input("Enter the product_Id: "))
    ui_quant = int(input("Enter the quantity: "))
    global id
    global tr_id
    try:
        item=record[ui_prod]
        if ui_quant>item['qn']:
            raise Exception("Item Out of stock")
        else:
            print("Product: ", record[ui_prod]['name'])
            print("Price: ", record[ui_prod]['pr'])
            print("Quantity: ",ui_quant)
            print("Billing Amount: ", record[ui_prod]['pr'] * ui_quant)
            item['qn']=item['qn']-ui_quant
            record[ui_prod]=item
            d={"Transaction Id":tr_id,"Product":record[ui_prod]['name'] , "Price":record[ui_prod]['pr'] , "quantity":ui_quant,"Billing amount": record[ui_prod]['pr'] * ui_quant}
            inv[id]=d
            f=open("invoice.json",'w')
            fb=json.dump(inv,f)
            f.close()
            fd = open("record.json",'w')
            js = json.dump(record,fd)
            fd.close()
            n=input("Do you want to add more product in your order y/n: ")
            if(n=='n' or n=='N'):
                tr_id+=1
                exit()
            else:
                id+=1
                SaleInv()
    except Exception:
        print("Item Out of Stock")
        SaleInv()

In [13]:
def delete():
  d=input("Enter the product id which you want to delete")
  with open('record.json', 'r') as data_file:
    data = json.load(data_file)
    del data[d]
    with open('record.json', 'w') as data_file:
        data = json.dump(data, data_file)

In [14]:
def dis():
    fd = open("record.json",'r')
    r = fd.read()
    fd.close()
    record = json.loads(r)
    df=pd.DataFrame(record)
    print(df.T)

In [15]:
def sale():
    f = open("invoice.json",'r')
    b = f.read()
    f.close()
    bil= json.loads(b)
    daf=pd.DataFrame(bil)
    daf=daf.T
    print("Total=",daf['Billing amount'].sum())
    print(daf)

In [16]:
if __name__=='__main__':
    print("Main Function")
    print("1.Press 1 to add new products in invemtory : ")
    print("2.Press 2 to make Sale: ")
    print("3.Press 3 to display the stock: ")
    print("4.Press 4 to Remove products from a inventory: ")
    print("5 Press 5 to generate the Total sales: ")
    while(True):
        k=int(input("Enter your choice"))
        if k==1:
            AddInv()
        elif k==2:
            SaleInv()
        elif k==3:
            dis()
        elif k==4:
            delete()
        elif k==5:
            sale()
        else:
            print("Invalid choice")
        l=input("Do you want to perform more operation? Y/N")
        if(l=='n' or l=='N'):
            break
        else:
            continue

Main Function
1.Press 1 to add new products in invemtory :
2.Press 2 to make Sale:
3.Press 3 to display the stock:
4.Press 4 to Remove products from a inventory:
5 Press 5 to generate the Total sales:
Enter your choice5
Total= 186
            name    qn     pr  ... Price quantity Billing amount
1001  Choco Cake    34    100  ...   NaN      NaN            NaN
1002   Milk Cake   100    800  ...   NaN      NaN            NaN
1003       Drink   100     85  ...   NaN      NaN            NaN
1004       Candy  1000      5  ...   NaN      NaN            NaN
1005         Pen   100     20  ...   NaN      NaN            NaN
1006       Phone    10  50000  ...   NaN      NaN            NaN
1007         Mic     0   1500  ...   NaN      NaN            NaN
1008        Case     3    599  ...   NaN      NaN            NaN
0            NaN   NaN    NaN  ...    45        2             90
1            NaN   NaN    NaN  ...    90        1             90
2            NaN   NaN    NaN  ...     2        3              6

[11 rows x 8 columns]
Do you want to perform more operation? Y/NN

In [17]:
import pandas as pd
pd.DataFrame(record)

         1004         1001       1002  ...     1028           1029         1030
name    pepsi  Gulab Jamun  Rasogulla  ...    Water  Mineral Water  Mango Juice
pr         12           16         12  ...       20             90           45
qn        300          200        400  ...      200             24          122
mfd   5-01-05     12-01-21   01-04-21  ...  12-2-21        01-1-21      10-1-21
exp   5-06-21     20-01-21   20-05-21  ...  12-8-21         1-9-21     20-12-21

[5 rows x 30 columns]

In [18]:
inv

{'0': {'Billing amount': 90,
  'Price': 45,
  'Product': 'Mango Juice',
  'Transaction Id': 0,
  'quantity': 2},
 '1': {'Billing amount': 90,
  'Price': 90,
  'Product': 'Mineral Water',
  'Transaction Id': 0,
  'quantity': 1},
 '1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 3},
 '2': {'Billing amount': 6,
  'Price': 2,
  'Product': 'Sauce',
  'Transaction Id': 0,
  'quantity': 3}}